<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Movie Reviews!</title>
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="navigation-bar">
            <div id="logo">
                <h2>MovieReviews</h2>
            </div>
            <div id="pages">
                <a href="">About Me</a>
                <a href="">Contact Me</a>
                <a href="">Other websites</a>
            </div>
        </div>
    </header>
